.admin-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: max;
  background-color: #ffffff; /* Light background color */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.admin-panel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.admin-patient-management {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.admin-staff-management {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.admin-operation-type-management {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff; /* Cor azul primária */
  width: 25%;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Transição suave */
}

button:hover {
  background-color: #0056b3; /* Tom mais escuro de azul ao passar o mouse */
  transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

button:active {
  background-color: #004494; /* Tom mais escuro quando o botão é pressionado */
  transform: translateY(1px); /* Botão pressiona para baixo */
}

.hidden {
  display: none;
}


// Staff Create Component Styles ============================================================================================

.staff-create {

  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Negrito para títulos */
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular para parágrafos */
  }
  label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Médio para rótulos */
  }
  select {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Médio para seleções */
  }

  button {
    width: 50%;
  }


  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px; /* Limita a largura máxima para telas maiores */
  background-color: #ffffff; /* Cor de fundo clara */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
  margin: 0 auto; /* Centraliza o formulário horizontalmente */
}

.staff-create input[type="text"],
.staff-create input[type="email"],
.staff-create input[type="tel"],
.staff-create select {
  width: 100%; /* Ocupa toda a largura do contêiner */
  padding: 10px; /* Adiciona espaço interno para tornar os campos maiores */
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Garante que o padding não aumente a largura */
}

.staff-name {
  gap: 10px;
  width: 100%; /* Garante que ocupe a largura completa do contêiner */
}

.staff-name input[type="text"] {
  width: 50%; /* Cada campo ocupa metade da largura */
}

// ========================================================================================================================
