<div class="admin-container">
  <section class="admin-section" [style.display]="selectedSection ? 'none' : 'block'">
    <div>
      <h3>Admin Panel:</h3>
      <button (click)="showSection('registerUser')">Register User</button>
      <button (click)="showSection('syncBackoffice')">Information Sync Backoffice</button>
      <button (click)="showSection('syncPlanning')">Information Sync Planning</button>
    </div>
    <div>
      <h3>Patient Management:</h3>
      <button (click)="showSection('createPatient')">Create Patient Profile</button>
      <button (click)="showSection('editPatient')">Edit Patient Profile</button>
      <button (click)="showSection('deletePatient')">Delete Patient Profile</button>
      <button (click)="showSection('listPatients')">List/Search Patient Profiles</button>
    </div>
    <div>
      <h3>Staff Management:</h3>
      <button (click)="showSection('createStaff')">Create Staff Profile</button>
      <button (click)="showSection('editStaff')">Edit Staff Profile</button>
      <button (click)="showSection('deactivateStaff')">Deactivate Staff Profile</button>
      <button (click)="showSection('listStaff')">List/Search Staff Profiles</button>
    </div>
    <div>
      <h3>Operation Types:</h3>
      <button (click)="showSection('addOperationType')">Add Operation Type</button>
      <button (click)="showSection('editOperationType')">Edit Operation Type</button>
      <button (click)="showSection('removeOperationType')">Remove Operation Type</button>
      <button (click)="showSection('listOperationTypes')">List/Search Operation Types</button>
    </div>
  </section>

  <!-- Register User Section -->
  <section [style.display]="selectedSection === 'registerUser' ? 'block' : 'none'">
    <h2>Register User</h2>
    <p>Here you can register a new user.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- Information Sync Backoffice Section -->
  <section [style.display]="selectedSection === 'syncBackoffice' ? 'block' : 'none'">
    <h2>Information Sync Backoffice</h2>
    <p>Here you can sync information with the backoffice.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- Information Sync Planning Section -->
  <section [style.display]="selectedSection === 'syncPlanning' ? 'block' : 'none'">
    <h2>Information Sync Planning</h2>
    <p>Here you can sync information with the planning module.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- Patient Sections -->
  <section [style.display]="selectedSection === 'createPatient' ? 'block' : 'none'">
    <h2>Create Patient Profile</h2>
    <p>Here you can create a new patient profile.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section [style.display]="selectedSection === 'editPatient' ? 'block' : 'none'">
    <h2>Edit Patient Profile</h2>
    <p>Here you can edit an existing patient profile.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section [style.display]="selectedSection === 'deletePatient' ? 'block' : 'none'">
    <h2>Delete Patient Profile</h2>
    <p>Here you can delete a patient profile.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section [style.display]="selectedSection === 'listPatients' ? 'block' : 'none'">
    <h2>List/Search Patient Profiles</h2>
    <p>Here you can list or search for patient profiles.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- Staff Sections -->
  <section class="staff-create" [style.display]="selectedSection === 'createStaff' ? 'block' : 'none'">
    <head>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <style>
          body {
              font-family: 'Roboto', sans-serif;
          }
      </style>
    </head>
  
    
    <h2>Create Staff Profile</h2>
    <p>Here you can create a new staff profile.</p>
    <P>Please enter the following data about the new staff member.</P>
    <div class="staff-name">
      <form>
        <label for="name">Staff Name:</label><br>
        <input type="text" id="firstName" name="firstName" placeholder="Fist Name" required>
        <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
      </form>
    </div>
    <div class="staff-fullName">
      <form>
        <input type="text" id="fullName" name="fullName" placeholder="Full Name" required>
      </form>
    </div>
    <br>
    <div class="staff-contact">
      <form>  
        <label for="contactInfo">Contact Information:</label><br>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="tel" id="phone" name="phone" placeholder="Phone Number" required>
      </form>
    </div>
    <br>
    <div class="staff-specialization">
      <form>
        <label for="specialization">Specialization:</label><br>
        <select id="specialization" name="specialization" required>
          <option value="1">Specialization 1</option>
          <option value="2">Specialization 2</option>
          <option value="3">Specialization 3</option>
          <option value="4">Specialization 4</option>
          <option value="" disabled selected>Select Specialization</option>
        </select>
      </form>
    </div>
    <br>
    <button (click)="showSection('')">Submit</button>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section [style.display]="selectedSection === 'editStaff' ? 'block' : 'none'">
    <h2>Edit Staff Profile</h2>
    <p>Here you can edit an existing staff profile.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section [style.display]="selectedSection === 'deactivateStaff' ? 'block' : 'none'">
    <h2>Deactivate Staff Profile</h2>
    <p>Here you can deactivate a staff profile.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section [style.display]="selectedSection === 'listStaff' ? 'block' : 'none'">
    <h2>List/Search Staff Profiles</h2>
    <p>Here you can list or search for staff profiles.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- Operation Types Sections -->
  <section [style.display]="selectedSection === 'addOperationType' ? 'block' : 'none'">
    <h2>Add Operation Type</h2>
    <p>Here you can add a new operation type.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section [style.display]="selectedSection === 'editOperationType' ? 'block' : 'none'">
    <h2>Edit Operation Type</h2>
    <p>Here you can edit an existing operation type.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section [style.display]="selectedSection === 'removeOperationType' ? 'block' : 'none'">
    <h2>Remove Operation Type</h2>
    <p>Here you can remove an obsolete operation type.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section [style.display]="selectedSection === 'listOperationTypes' ? 'block' : 'none'">
    <h2>List/Search Operation Types</h2>
    <p>Here you can list or search for operation types.</p>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>
</div>

<p>Current Section: {{ selectedSection }}</p>
