
.admin-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 20px; /* Space between sections */
  box-sizing: border-box;
}
/*Admin Header Styles ========================================================================================*/
.admin-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between ;
  padding: 10px;
  background-color: #ffffff;
}
.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  size: 2px;
  width: 3%;
}

.logout-button .material-icons {
  font-size: 24px;
  color: #333;
}

.logout-button:hover .material-icons {
  color: #555;
}

/*Admin Section Styles ========================================================================================*/
.admin-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 30%;
  background-color: #ffffff; /* Light background color */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}



.scheduleInput{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.schedule-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.register-button {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  size: 4px;
  width: 60%;
  margin-top: 4px;
  margin-bottom: 10px;
}
/* 3D Visualization Component Styles ======================================================================================== */
.visualization-button {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #007bff;
  width: 20%; /* Full width */
}
.visualization-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-3px); /* Higher lift on hover */
}

.visualization-button:active {
  background-color: #004494; /* Even darker blue on click */
  transform: translateY(1px); /* Button moves slightly down */
}

.admin-3d-visualization {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}

/*GENERAL STYLES   ====================================================================================================================*/

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff; /* Cor azul primária */
  width: 60%;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Transição suave */
}

button:hover {
  background-color: #0056b3; /* Tom mais escuro de azul ao passar o mouse */
  transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

button:active {
  background-color: #004494; /* Tom mais escuro quando o botão é pressionado */
  transform: translateY(1px); /* Botão pressiona para baixo */
}

.hidden {
  display: none;
}

.table-display {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

.table-display th, .table-display td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-display th {
  background-color: #007bff;
  color: white;
}
.table-display tr:nth-child(even) {
  background-color: #f2f2f2;
}

// Staff Create Component Styles ============================================================================================

.staff-create {

  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Negrito para títulos */
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular para parágrafos */
  }
  label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Médio para rótulos */
  }
  select {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Médio para seleções */
  }

  button {
    width: 50%;
  }


  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px; /* Limita a largura máxima para telas maiores */
  background-color: #ffffff; /* Cor de fundo clara */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
  margin: 0 auto; /* Centraliza o formulário horizontalmente */
}

.button-staff-submit {
  display: flex;
  gap: 5px;
  width: 100%;
}

.staff-create input[type="text"],
.staff-create input[type="email"],
.staff-create input[type="tel"],
.staff-create select {
  width: 100%; /* Ocupa toda a largura do contêiner */
  padding: 10px; /* Adiciona espaço interno para tornar os campos maiores */
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Garante que o padding não aumente a largura */
}

.staff-name {
  gap: 10px;
  width: 100%; /* Garante que ocupe a largura completa do contêiner */
}

.staff-name input[type="text"] {
  width: 50%; /* Cada campo ocupa metade da largura */
}

/* Additional styling for error and success messages */
.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

// ========================================================================================================================
