

<div class="admin-header">
  <h2>Admin</h2>
  <button class="logout-button" (click)="logout()">
    <span class="material-icons">logout</span>
  </button>
</div>
<div class="admin-container">

  <section class="admin-section" [style.display]="selectedSection ? 'none' : 'block'">
    <div class="admin-panel1">
      <h3>Admin Panel:</h3>
      <button (click)="showSection('registerUser')">Register User</button>
      <button (click)="showSection('addAllergy')">Add Allergies</button>
    </div>
    <div>
      <h3>3D Visualization Module:</h3>
      <button (click)="showSection('3dVisualization')">3D Visualization</button>
    </div>
  </section>
  <section class="admin-patient-management" [style.display]="selectedSection ? 'none' : 'block'">
    <div class="admin-patient-management1">
      <h3>Patient Management:</h3>
      <button (click)="showSection('createPatient')">Create Patient Profile</button>
      <button (click)="showSection('editPatient')">Edit Patient Profile</button>
      <button (click)="showSection('deletePatient')">Delete Patient Profile</button>
      <button (click)="showSection('listPatients')">List/Search Patient Profiles</button>

    </div>
  </section>
  <section class="admin-specialization-management" [style.display]="selectedSection ? 'none' : 'block'">
    <div class="admin-specialization-management1">
      <h3>Specialization Management:</h3>
      <button (click)="showSection('createSpecialization')">Create Specialization</button>
      <button (click)="showSection('editSpecialization')">Edit Specialization</button>
      <button (click)="showSection('deleteSpecialization')">Delete Specialization</button>
      <button (click)="showSection('listSpecialization')">List/Search Specialization</button>

    </div>
  </section>
  <section class="admin-staff-management" [style.display]="selectedSection ? 'none' : 'block'">
    <div class="admin-staff-management1">
      <h3>Staff Management:</h3>
      <button (click)="showSection('createStaff')">Create Staff Profile</button>
      <button (click)="showSection('editStaff')">Edit Staff Profile</button>
      <button (click)="showSection('deactivateStaff')">Deactivate Staff Profile</button>
      <button (click)="showSection('listStaff')">List/Search Staff Profiles</button>
    </div>
  </section>
  <section class="admin-operation-type-management" [style.display]="selectedSection ? 'none' : 'block'">
    <div class="admin-operation-type-management1">
      <h3>Operation Type Management:</h3>
      <button (click)="showSection('addOperationType')">Add Operation Type</button>
      <button (click)="showSection('editOperationType')">Edit Operation Type</button>
      <button (click)="showSection('removeOperationType')">Remove Operation Type</button>
      <button (click)="showSection('listOperationTypes')">List/Search Operation Types</button>
    </div>
  </section>

<section class="admin-3d-visualization" [style.display]="selectedSection ? 'none' : 'block'">

      <h3>Planning Module:</h3>
      <button (click)="showSection('optimizedPlanning')">Optimized Planning</button>
      <button (click)="showSection('preferedPlanning')">Prefered Schedule</button>
      <button (click)="showSection('dimensionPlanning')">Complexity Analysis</button>
    </section>


  <!-- Register User Section -->
  <section [style.display]="selectedSection === 'registerUser' ? 'block' : 'none'">
    <h2>Register User</h2>
    <p>Here you can register a new user.</p>

    <!-- Display success or error messages -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <div class="user-form">
      <form>
        <div class="form-group">
          <label for="nif">NIF:</label><br>
          <input type="text" id="nif" name="nif" placeholder="NIF" #nifRef required>
        </div>

        <div class="form-group">
          <label for="userName">Username:</label><br>
          <input type="text" id="userName" name="userName" placeholder="Username" #userNameRef required>
        </div>

        <div class="form-group">
          <label for="email">Email:</label><br>
          <input type="email" id="email" name="email" placeholder="Email" #emailRef required>
        </div>

        <div class="form-group">
          <label for="phoneNumber">Phone Number:</label><br>
          <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" #phoneNumberRef required>
        </div>

        <div class="form-group">
          <label for="role">Role:</label><br>
          <select id="role" name="role" #roleRef required>
            <option value="" disabled selected>Select Role</option>
            <option value="ADMIN">ADMIN</option>
            <option value="DOCTOR">DOCTOR</option>
            <option value="NURSE">NURSE</option>
            <option value="TECHNICIAN">TECHNICIAN</option>
            <option value="PATIENT">PATIENT</option>
            <!-- Add more roles as needed -->
          </select>
        </div>
      </form>
    </div>

    <button
      class="register-button"
      type="button"
      (click)="registerUser(
        nifRef.value,
        userNameRef.value,
        emailRef.value,
        phoneNumberRef.value,
        roleRef.value
      )"
    >Register</button>

    <button (click)="showSection('')">Back to Main Menu</button>
  </section>


  <!-- Add Allergy Section -->
   <section [style.display]="selectedSection === 'addAllergy' ? 'block' : 'none'">
    <h2>Add Allergy</h2>
    <p>Here you can add a new allergy to the system .</p>

    <!-- Display success or error messages -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <label for="allergySearch">Search Allergy:</label>
    <input id="allergySearch" #allergySearch placeholder="Type to search allergies..." />

    <button class="allergyBtn" (click)="searchAllergies(allergySearch.value)">Search</button>

    <!-- List Existing Allergies with Remove Button -->
    <ul>
      <li *ngFor="let allergy of filteredAllergyList; let i = index">
        {{ allergy.name }}
      </li>
    </ul>

    <!-- Add New Allergy -->
    <label for="newAllergyName">New Allergy Name:</label>
    <input id="newAllergyName" #newAllergyName placeholder="Name" />
    <button class="allergyBtn" (click)="registerAllergy(newAllergyName.value)">Add</button><br><br>

    <br><button (click)="showSection('')">Back to Main Menu</button>


   </section>


  <!-- Patient Sections -->
  <section class="patient-create" [style.display]="selectedSection === 'createPatient' ? 'block' : 'none'">
    <head>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <style>
          body {
              font-family: 'Roboto', sans-serif;
          }
      </style>
  </head>
    <h2>Create Patient Profile</h2>
    <p>Here you can create a new patient profile.</p>
    <P>Please enter the following data about the new patient.</P>
    <!-- Display success or error messages -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <div class="patient-name">
      <form>
        <label for="name">Patient Name:</label><br>
        <input type="text" id="firstName" name="firstName" placeholder="Fist Name" #firstNameRef required>
        <input type="text" id="lastName" name="lastName" placeholder="Last Name" #lastNameRef required>
      </form>
    </div>
    <div class="patient-fullName">
      <form>
        <input type="text" id="fullName" name="fullName" placeholder="Full Name" #fullNameRef required>
      </form>
    </div>
    <br>
    <div class="patient-sex-birthdate">
      <form>
        <label for="sex-birthdate">Patient Sex and Birthdate:</label><br>
        <select id="Sex" name="sex" #sexRef required>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="" disabled selected>Select Sex</option>
        </select>
        <input type="date" id="Birthdate" name="birthdate" placeholder="Birth date" #birthDateRef required>
      </form>
    </div>
    <div class="patient-contact">
      <form>
        <label for="contactInfo">Contact Information:</label><br>
        <input type="text" id="newpatientemail" name="newpatientemail" placeholder="Email" #patientEmailRef required>
        <input type="tel" id="phone" name="phone" placeholder="Phone Number" #phoneRef required>
        <input type="tel" id="emergencycontact" name="emergencycontact" placeholder="Emergency Contact" #emergencyRef required>
      </form>
    </div>
    <button
      class="patientBtn"
      type="button"
      (click)="registerPatient(
        firstNameRef.value,
        lastNameRef.value,
        fullNameRef.value,
        birthDateRef.value,
        sexRef.value,
        patientEmailRef.value,
        phoneRef.value,
        emergencyRef.value
      )"
    >
      Register Patient
    </button>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- Patient Update Section -->
  <section [style.display]="selectedSection === 'editPatient' ? 'block' : 'none'">
    <h2>Edit Patient Profile</h2>
    <p>Here you can edit an existing patient profile.</p>

    <!-- Display success or error messages -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <!-- Table for Patients -->
    <table class="table-display">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Full Name</th>
        <th>Birth Date</th>
        <th>Sex</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Emergency Contact</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let patient of patientListToBeDisplayed">
        <td>{{ patient.firstName }}</td>
        <td>{{ patient.lastName }}</td>
        <td>{{ patient.fullName}}</td>
        <td>{{ patient.birthDate}}</td>
        <td>{{ patient.sex }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.phone }}</td>
        <td>{{ patient.emergencyContact }}</td>
        <td>
          <button class="table-button" (click)="selectPatientForUpdate(patient)">Edit</button>
        </td>
      </tr>
    </table>

    <!-- Update Form -->
    <div *ngIf="selectedPatient">
      <div class="patient-edit-name-update">
        <form>
          <label for="updatedPatientFirstName">First Name:</label><br>
          <input
            type="text"
            id="updatedPatientFirstName"
            name="firstName"
            placeholder="First Name"
            #updatedPatientFirstNameRef
            required
            [value]="selectedPatient.firstName"
          />
          <label for="updatedLastName">Last Name:</label><br />
          <input
            type="text"
            id="updatedLastName"
            name="lastName"
            placeholder="Last Name"
            #updatedPatientLastNameRef
            required
            [value]="selectedPatient.lastName"
          />
        </form>
      </div>
      <div class="patient-edit-fullname-update">
        <form>
          <label for="updatedPatientFullName">Full Name:</label><br />
          <input
            type="text"
            id="updatedPatientFullName"
            name="fullName"
            placeholder="Full Name"
            #updatedPatientFullNameRef
            required
            [value]="selectedPatient.fullName"
          />
        </form>
      </div>

      <br />
      <div class="patient-edit-info-update">
        <form>
          <label for="updatedPatientSex">Sex:</label><br />
          <select
            id="updatedPatientSex"
            name="sex"
            #updatedPatientSexRef
            required
            [value]="selectedPatient.sex"
          >
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="" disabled selected>Select Sex</option>
          </select>
          <label for="updatedBirthDay">Birthdate</label><br />
          <input
            id="updatedBirthDay"
            type="date"
            name="birthdate"
            placeholder="Birth Date"
            #updatedPatientBirthDate
            required
            [value]="selectedPatient.birthDate"
          />
        </form>
      </div>
      <div class="patient-edit-contact-update">
        <form>
          <label for="updatedPatientEmail">Email:</label><br />
          <input
            type="email"
            id="updatedPatientEmail"
            name="email"
            placeholder="Email"
            #updatedPatientEmailRef
            required
            [value]="selectedPatient.email"
          />
          <label for="updatedPatientPhone">Phone Number:</label><br />
          <input
            type="tel"
            id="updatedPatientPhone"
            name="phone"
            placeholder="Phone Number"
            #updatedPatientPhoneRef
            required
            [value]="selectedPatient.phone"
          />
          <label for="updatedPatientEmergencyContact">Phone Number:</label><br />
          <input
            type="tel"
            id="updatedPatientEmergencyContact"
            name="phone"
            placeholder="Phone Number"
            #updatedPatientEmergencyContactPhoneRef
            required
            [value]="selectedPatient.phone"
          />
        </form>
      </div>
      <br />
      <button
        type="button"
        (click)="updatePatient(
          selectedPatient.id,
          updatedPatientFirstNameRef.value,
          updatedPatientLastNameRef.value,
          updatedPatientFullNameRef.value,
          updatedPatientBirthDate.value,
          updatedPatientSexRef.value,
          updatedPatientEmailRef.value,
          updatedPatientPhoneRef.value,
          updatedPatientEmergencyContactPhoneRef.value
        )"
      >
        Update Staff
      </button>
      <button type="button" (click)="cancelUpdate()">Cancel</button>
    </div>


    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section [style.display]="selectedSection === 'deletePatient' ? 'block' : 'none'">
    <h2>Delete Patient Profile</h2>
    <p>Here you can delete a patient profile.</p>
     <!-- Table for Patients -->
  <table class="table-display">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Full Name</th>
      <th>Birth Date</th>
      <th>Sex</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Emergency Contact</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let patient of patientListToBeDisplayed">
      <td>{{ patient.firstName }}</td>
      <td>{{ patient.lastName }}</td>
      <td>{{ patient.fullName}}</td>
      <td>{{ patient.birthDate | date: 'yyyy-MM-dd HH:mm' }}</td>
      <td>{{ patient.sex }}</td>
      <td>{{ patient.email }}</td>
      <td>{{ patient.phone }}</td>
      <td>{{ patient.emergencyContact }}</td>
      <td>
        <button class="table-button" (click)="submitRemoval(patient.id)">Remove</button>
      </td>
    </tr>
  </table>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section [style.display]="selectedSection === 'listPatients' ? 'block' : 'none'">
    <h2>List/Search Patient Profiles</h2>
    <p>Here you can list or search for patient profiles.</p>
    <form>
      <div class="inputPatientFilterClass">
        <input
          class="inputPatientFilter"
          type="text"
          placeholder="Search Patient"
          [(ngModel)]="patientSearchQuery"
          name="searchQuery"
        />
        <button
          class="patientSearchBtn"
          type="button"
          (click)="filterPatientResults(patientSearchQuery)">
          Search
        </button>
      </div>
    </form>
    <table class="table-display">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Full Name</th>
        <th>Birth Date</th>
        <th>Sex</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Emergency Contact</th>
      </tr>

      <tr *ngFor="let patient of patientListToBeDisplayed">
        <td>{{ patient.firstName }}</td>
        <td>{{ patient.lastName }}</td>
        <td>{{ patient.fullName}}</td>
        <td>{{ patient.birthDate | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ patient.sex }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.phone }}</td>
        <td>{{ patient.emergencyContact }}</td>
      </tr>
    </table>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <section class="specialization-create" [style.display]="selectedSection === 'createSpecialization' ? 'block' : 'none'">
    <head>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <style>
          body {
              font-family: 'Roboto', sans-serif;
          }
      </style>
    </head>
    
    <h2>Create Specialization</h2>
    <p>Here you can create a new specialization.</p>
    <P>Please enter the following data about the new specialization.</P>

    <!-- Display success or error messages -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <form>
      <div class="specialization-name">
        <input type="text" id="specializationName" name="specializationName" #specializationName placeholder="Specialization Name" required>
      </div>
      <br>
      <div class="button-specialization-submit">
        <button type="button" (click)="registerSpecialization(specializationName.value)">Submit</button>
        <button type="button" (click)="showSection('')">Back to Main Menu</button>
      </div>
      </form>
  </section>


  <!-- Staff Sections -->
  <section class="staff-create" [style.display]="selectedSection === 'createStaff' ? 'block' : 'none'">
    <head>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <style>
          body {
              font-family: 'Roboto', sans-serif;
          }
      </style>
    </head>


    <h2>Create Staff Profile</h2>
    <p>Here you can create a new staff profile.</p>
    <P>Please enter the following data about the new staff member.</P>

    <!-- Display success or error messages -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <form>
      <div class="staff-name">
        <input type="text" id="firstName" name="firstName" #firstName placeholder="First Name" required>

        <input type="text" id="lastName" name="lastName" #lastName placeholder="Last Name" required>
      </div>

      <div class="staff-fullName">
        <input type="text" id="fullName" name="fullName" #fullName placeholder="Full Name" required>
      </div>

      <div class="staff-contact">
        <input type="email" id="email" name="email" #email placeholder="Email" required>

        <input type="tel" id="phone" name="phone" #phone placeholder="Phone Number" required>
      </div>

      <div class="staff-specialization">
        <select id="specialization" name="specialization" #specialization required>
          <option value="" disabled selected>Select Specialization</option>
          <option *ngFor="let spec of specList" [value]="spec.id">
            {{ spec.specializationName }}
          </option>
        </select>
      </div>

      <br>

      <div class="button-staff-submit">
        <button type="button" (click)="registerStaff(firstName.value, lastName.value, fullName.value, specialization.value, email.value, phone.value)">Submit</button>
        <button type="button" (click)="showSection('')">Back to Main Menu</button>
      </div>
      </form>
  </section>

<section [style.display]="selectedSection === 'editStaff' ? 'block' : 'none'">
  <h2>Edit Staff Profile</h2>
  <p>Here you can edit an existing staff profile.</p>

  <!-- Display success or error messages -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

  <!-- Table for Staff Members -->
  <table class="table-display">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Full Name</th>
      <th>Specialization ID</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let staff of staffListToBeDisplayed">
      <td>{{ staff.firstName }}</td>
      <td>{{ staff.lastName }}</td>
      <td>{{ staff.fullName }}</td>
      <td>{{ staff.specializationName }}</td>
      <td>{{ staff.email }}</td>
      <td>{{ staff.phone }}</td>
      <td>
        <button class="editStaffBtn" (click)="selectStaffForUpdate(staff)">Edit</button>
      </td>
    </tr>
  </table>

  <!-- Update Form -->
  <div *ngIf="selectedStaff">
    <form>

    <div class="staff-edit-name-update">
        <label for="updatedFirstName">First Name:</label><br>
        <input
          type="text"
          id="updatedFirstName"
          [(ngModel)]="selectedStaff.firstName"
          name="firstName"
          placeholder="First Name"
          #updatedFirstNameRef
          required
          [value]="selectedStaff.firstName"
        />
        <label for="updatedLastName">Last Name:</label><br />
        <input
          type="text"
          id="updatedLastName"
          [(ngModel)]="selectedStaff.lastName"
          name="lastName"
          placeholder="Last Name"
          #updatedLastNameRef
          required
          [value]="selectedStaff.lastName"
        />

    </div>
    <div class="staff-edit-fullname-update">
        <label for="updatedFullName">Full Name:</label><br />
        <input
          type="text"
          id="updatedFullName"
          [(ngModel)]="selectedStaff.fullName"
          name="fullName"
          placeholder="Full Name"
          #updatedFullNameRef
          required
          [value]="selectedStaff.fullName"
        />
    </div>
    <br />
    <div class="staff-edit-contact-update">
        <label for="updatedEmail">Email:</label><br />
        <input
          type="email"
          id="updatedEmail"
          [(ngModel)]="selectedStaff.email"
          name="email"
          placeholder="Email"
          #updatedEmailRef
          required
          [value]="selectedStaff.email"
        />
        <label for="updatedPhone">Phone Number:</label><br />
        <input
          type="tel"
          id="updatedPhone"
          [(ngModel)]="selectedStaff.phone"
          name="phone"
          placeholder="Phone Number"
          #updatedPhoneRef
          required
          [value]="selectedStaff.phone"
        />
    </div>
    <br />
    <div class="staff-edit-spec-update">
        <label for="updatedSpecialization">Specialization:</label><br />
        <select
          id="updatedSpecialization"
          name="specialization"
          [(ngModel)]="selectedStaff.specializationId"
          #updatedSpecializationRef
          required
        >
          <option value="" disabled>Select Specialization</option>
          <option
            *ngFor="let spec of specList"
            [value]="spec.id"
            [selected]="spec.id === selectedStaff.specializationId"
          >
            {{ spec.specializationName }}
          </option>
        </select>
    </div>
    <br />
    <button
      class="update-staff-btn"
      type="button"
      (click)="updateStaff()"
    >
      Update Staff
    </button>
    <button class="cancel-update-staff-btn" type="button" (click)="cancelUpdate()">Cancel</button>
  </form>
  </div>

  <br>
  <button class="back-menu-btn" (click)="showSection('')">Back to Main Menu</button>
</section>


  <!--Staff Deactivation-->
  <section [style.display]="selectedSection === 'deactivateStaff' ? 'block' : 'none'">
    <h2>Deactivate Staff Profile</h2>
    <p>Here you can deactivate a staff profile.</p>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <table class="table-display">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Full Name</th>
        <th>Specialization</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let staff of staffListToBeDisplayed">
        <td>{{ staff.firstName }}</td>
        <td>{{ staff.lastName }}</td>
        <td>{{ staff.fullName }}</td>
        <td>{{ staff.specializationName }}</td>
        <td>{{ staff.email }}</td>
        <td>{{ staff.phone }}</td>
        <td>
          <button class="deactivate-staff-btn" (click)="submitStaffDeactivation(staff.id)">Deactivate</button>
        </td>
      </tr>
    </table>

    <br>
    <button class="back-menu-btn" (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- List/Search Staff Section -->
  <section [style.display]="selectedSection === 'listStaff' ? 'block' : 'none'">
    <h2>List/Search Staff Profiles</h2>
    <p>Here you can list or search for staff profiles.</p>
    <!--<form>
      <div class="inputStaffFilterClass">
        <input class="inputStaffFilter" type="text" placeholder="Search Staff" #filter (input)="filterStaffResults(filter.value)" />
        <button class="staffSearchBtn" type="button" (click)="filterStaffResults(filter.value)">Search</button>
      </div>
      </form>-->

      <form>
        <div class="inputStaffFilterClass">
          <input
            class="inputStaffFilter"
            type="text"
            placeholder="Search Staff"
            [(ngModel)]="staffSearchQuery"
            name="searchQuery"
          />
          <button
            class="staffSearchBtn"
            type="button"
            (click)="filterStaffResults(staffSearchQuery)">
            Search
          </button>
        </div>
      </form>
    <table class="table-display">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Full Name</th>
      <th>Specialization</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>

    <tr *ngFor="let staff of staffListToBeDisplayed">
      <td>{{ staff.firstName }}</td>
      <td>{{ staff.lastName }}</td>
      <td>{{ staff.fullName }}</td>
      <td>{{ staff.specializationName }}</td>
      <td>{{ staff.email }}</td>
      <td>{{ staff.phone }}</td>
    </tr>
    </table>
    <br>
    <button class="back-menu-btn" (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- Operation Types Sections -->
  <section class="operation-create" [style.display]="selectedSection === 'addOperationType' ? 'block' : 'none'">
    <head>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <style>
          body {
              font-family: 'Roboto', sans-serif;
          }
      </style>
    </head>


    <h2>Create Operation Type</h2>
    <P>Please enter the following data about the new operation type.</P>

    <!-- Display success or error messages -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <form>
      <div class="operation-type-name">
        <input type="text" id="name" name="name" #name placeholder="Name" required>
      </div>

      <div class="operation-type-duration">
        <input type="text" id="duration" name="duration" #duration placeholder="Duration" required>
      </div>

      <div class="checkbox-container">
        <div *ngFor="let spec of specList">
          <label>
            <input
              type="checkbox"
              [value]="spec"
              (change)="onCheckboxChange($event, spec)"
            />
            {{ spec.specializationName }}
          </label>
        </div>
      </div>

      <div class="selected-items">
        <h4>Selected Specializations:</h4>
        <ul>
          <li *ngFor="let spec of selectedSpecializations">
            {{ spec.specializationName }}
          </li>
        </ul>
      </div>



      <div class="button-operation-type-submit">
        <button type="button" (click)="registerOperationType(name.value, duration.value)">Submit</button>
        <button type="button" (click)="showSection('')">Back to Main Menu</button>
      </div>
      </form>
  </section>

  <section [style.display]="selectedSection === 'editOperationType' ? 'block' : 'none'">
    <h2>Edit Operation Type</h2>
    <p>Here you can edit an existing operation type.</p>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <table class="table-display">
      <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Required Staff</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let operationType of operationTypeListToBeDisplayed">
        <td>{{ operationType.name }}</td>
        <td>{{ operationType.duration }}</td>
        <td>{{ operationType.specializationName }}</td>
        <td>
          <button class="editOperationTypeBtn" (click)="selectOperationTypeForUpdate(operationType)">Edit</button>
        </td>
      </tr>
    </table>

    <!-- Update Form -->
  <div *ngIf="selectedOperationType">
    <form>

    <div class="operation-type-edit-name-update">
        <label for="updatedName">Name:</label><br>
        <input
          type="text"
          id="updatedName"
          [(ngModel)]="selectedOperationType.name"
          name="Name"
          placeholder="Name"
          #updatedNameRef
          required
          [value]="selectedOperationType.name"
        />

    </div>
    <div class="operation-type-edit-duration-update">
        <label for="updatedDuration">Duration:</label><br />
        <input
          type="text"
          id="updatedDuration"
          [(ngModel)]="selectedOperationType.duration"
          name="duration"
          placeholder="Duration"
          #updatedDurationRef
          required
          [value]="selectedOperationType.duration"
        />
    </div>

    <div class="checkbox-container">
      <div *ngFor="let spec of specList">
        <label>
          <input
            type="checkbox"
            [value]="spec"
            (change)="onCheckboxUpdate($event, spec)"
          />
          {{ spec.specializationName }}
        </label>
      </div>
    </div>

    <div class="selected-items">
      <h4>Selected Specializations:</h4>
      <ul>
        <li *ngFor="let spec of selectedSpecializations">
          {{ spec.specializationName }}
        </li>
      </ul>
    </div>
    <br />
    <button
      class="update-operation-type-btn"
      type="button"
      (click)="updateOperationType()"
    >
      Update Operation Type
    </button>
    <button class="cancel-update-operation-type-btn" type="button" (click)="cancelOperationTypeUpdate()">Cancel</button>
  </form>
  </div>





    <button (click)="showSection('')">Back to Main Menu</button>
  </section>





  <section [style.display]="selectedSection === 'removeOperationType' ? 'block' : 'none'">
    <h2>Remove Operation Type</h2>
    <p>Here you can remove an obsolete operation type.</p>
    <p>ola </p>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <table class="table-display">
      <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Required Staff</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let operationType of operationTypeListToBeDisplayed">
        <td>{{ operationType.name }}</td>
        <td>{{ operationType.duration }}</td>
        <td>{{ operationType.specializationName }}</td>
        <td>
          <button class="deactivate-operation-type-btn" (click)="submitOperationTypeDeactivation(operationType.id)">Deactivate</button>
        </td>
      </tr>
    </table>




    <button (click)="showSection('')">Back to Main Menu</button>
  </section>





  <section [style.display]="selectedSection === 'listOperationTypes' ? 'block' : 'none'">
    <h2>List/Search Operation Types</h2>
    <p>Here you can list or search for operation types.</p>

      <form>
        <div class="inputOperationTypeFilterClass">
          <input
            class="inputOperationTypeFilter"
            type="text"
            placeholder="Search Operation Type"
            [(ngModel)]="operationTypeSearchQuery"
            name="OTsearchQuery"
          />
          <button
            class="operationTypeSearchBtn"
            type="button"
            (click)="filterOperationTypeResults(operationTypeSearchQuery)">
            Search
          </button>
        </div>
      </form>

    <table class="table-display">
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Required Staff</th>

    </tr>

    <tr *ngFor="let operationType of operationTypeListToBeDisplayed">
      <td>{{ operationType.name }}</td>
      <td>{{ operationType.duration }}</td>
      <td>{{ operationType.specializationName }}</td>
    </tr>
    </table>
    <br>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- 3D Visualization Module -->

  <section [style.display]="selectedSection === '3dVisualization' ? 'block' : 'none'">
    <h2>3D Visualization</h2>
    <p>Here you can see the 3D visualization of the hospital.</p>
    <button class="visualization-button" (click)="showHospital()">3D Visualization</button>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- Planning Module -->

  <!-- 6.3.1-->
  <section [style.display]="selectedSection === 'optimizedPlanning' ? 'block' : 'none'">
    <h2>Optimized Planning</h2>

    <!-- Status Messages -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <!-- Planning Form -->
    <form (ngSubmit)="startOptimizedPlanning()">
      <label for="roomNumber">Room Number</label>
      <select id="roomNumber" [(ngModel)]="roomNumber" name="roomNumber" required>
        <option value="" disabled selected>Select Room Number</option>
        <option *ngFor="let room of roomNumbers" [value]="room.name">{{ room.name }}</option>
      </select>

      <label for="planningDate">Date</label>
      <input id="planningDate" type="date" [(ngModel)]="planningDate" name="planningDate" required />

      <label for="surgeriesList">Surgeries (comma-separated IDs)</label>
      <input
        id="surgeriesList"
        type="text"
        [(ngModel)]="surgeriesList"
        name="surgeriesList"
        required
      />

      <button class="planButton" type="submit" [disabled]="loading">Start Optimized Planning</button>
    </form>

    <!-- Loading Spinner -->
    <div *ngIf="loading" class="loading-spinner">Loading...</div>

    <!-- Planning Results -->
    <div *ngIf="planningResult">
      <h3>Operation Room Agenda:</h3>
      <ul>
        <li *ngFor="let item of planningResult.operation_room_agenda">
          Surgery: {{ item.surgery }} | Start: {{ item.start }} | End: {{ item.end }}
        </li>
      </ul>

      <h3>Doctors' Agendas:</h3>
      <div *ngFor="let doctorAgenda of planningResult.doctors_agenda">
        <h4>{{ doctorAgenda.doctor }}</h4>
        <ul>
          <li *ngFor="let agenda of doctorAgenda.agenda">
            Surgery: {{ agenda.surgery }} | Start: {{ agenda.start }} | End: {{ agenda.end }}
          </li>
        </ul>
      </div>
    </div>


    <button (click)="showSection('')">Back to Main Menu</button>
  </section>


  <!-- 6.3.2-->
  <section [style.display]="selectedSection === 'dimensionPlanning' ? 'block' : 'none'">
    <h2>Complexity Analysis</h2>

    <!-- Status Messages -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <!-- Complexity Analysis Form -->
    <form (ngSubmit)="performComplexityAnalysis()">
      <label for="roomNumber">Room Number</label>
      <select id="roomNumber" [(ngModel)]="roomNumber" name="roomNumber" required>
        <option value="" disabled selected>Select Room Number</option>
        <option *ngFor="let room of roomNumbers" [value]="room.id">{{ room.name }}</option>
      </select>

      <label for="planningDate">Date</label>
      <input id="planningDate" type="date" [(ngModel)]="planningDate" name="planningDate" required />

      <button class="planButton" type="submit" [disabled]="loading">Perform Complexity Analysis</button>
    </form>

    <!-- Loading Indicator -->
    <div *ngIf="loading" class="loading-spinner">Loading...</div>

    <!-- Complexity Analysis Results -->
    <div>
      <table class="table-display" [class.hidden]="!planningResultComplexity || planningResultComplexity.length === 0">
        <thead>
          <tr>
            <th>Execution Time</th>
            <th>Number of Surgeries</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of planningResultComplexity">
            <td>{{ item.execution_time }}</td>
            <td>{{ item.number_of_surgeries }}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="planningResultComplexity && planningResultComplexity.length === 0">No data available.</p>
    </div>



    <button (click)="showSection('')">Back to Main Menu</button>
  </section>


  <!-- 6.3.3-->
  <section [style.display]="selectedSection === 'preferedPlanning' ? 'block' : 'none'">
    <h2>Heuristic Planning</h2>

    <!-- Status Messages -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <!-- Heuristic Planning Form -->
    <form (ngSubmit)="startHeuristicPlanning()">
      <label for="roomNumber">Room Number</label>
      <select id="roomNumber" [(ngModel)]="roomNumber" name="roomNumber" required>
        <option value="" disabled selected>Select Room Number</option>
        <option *ngFor="let room of roomNumbers" [value]="room.name">{{ room.name }}</option>
      </select>

      <label for="planningDate">Date</label>
      <input id="planningDate" type="date" [(ngModel)]="planningDate" name="planningDate" required />

      <label for="surgeriesList">Surgeries (comma-separated IDs)</label>
      <input
        id="surgeriesList"
        type="text"
        [(ngModel)]="surgeriesList"
        name="surgeriesList"
        placeholder="e.g., so100001,so100002"
        required
      />

      <label for="heuristic">Select Heuristic</label>
      <select id="heuristic" [(ngModel)]="heuristic" name="heuristic" required>
        <option value="" disabled selected>Select Heuristic</option>
        <option value="earliest">Earliest Availability</option>
        <option value="maximized">Maximize Occupied Time</option>
      </select>

      <button class="planButton" type="submit" [disabled]="loading">Start Heuristic Planning</button>
    </form>

    <!-- Loading Indicator -->
    <div *ngIf="loading" class="loading-spinner">Loading...</div>

   <!-- Planning Results -->
   <div *ngIf="planningResult">
    <h3>Operation Room Agenda:</h3>
    <ul>
      <li *ngFor="let item of planningResult.operation_room_agenda">
        Surgery: {{ item.surgery }} | Start: {{ item.start }} | End: {{ item.end }}
      </li>
    </ul>

    <h3>Doctors' Agendas:</h3>
    <div *ngFor="let doctorAgenda of planningResult.doctors_agenda">
      <h4>{{ doctorAgenda.doctor }}</h4>
      <ul>
        <li *ngFor="let agenda of doctorAgenda.agenda">
          Surgery: {{ agenda.surgery }} | Start: {{ agenda.start }} | End: {{ agenda.end }}
        </li>
      </ul>
    </div>
  </div>
    <button (click)="showSection('')">Back to Main Menu</button>
  </section>

</div>
<p>Current Section: {{ selectedSection }}</p>

