.results {
  display: grid;
  color: var(--primary-color);
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
input[type="text"] {
  border: black;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}
button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: black;
  color: white;
  border-radius: 8px;
}
@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }
}
@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }
}

.result-box {
  border: 1px black;
  border-radius: 18px;
  padding: 20px;
  background-color: #7e767489;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.result-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

