<div class="doctor-container">
  <section class="doctor-section" [style.display]="selectedSection ? 'none' : 'block'">
    <div class="header-container">
      <h2>Doctor, welcome</h2>
      <button class="logout-button" (click)="logout()">
        <span class="material-icons">logout</span>
      </button>

    </div>

    <button (click)="showSection('registerOperation')">Request Operations</button>
    <button (click)="showSection('updateOperation')">Update Operations</button>
    <button (click)="showSection('removeOperation')">Remove Operations</button>
    <button (click)="showSection('listOperation')">List/Search Operations</button>
   </section>

   <!-- Operation Request Section -->
<section class="registerOperation" [style.display]="selectedSection === 'registerOperation' ? 'block' : 'none'">
  <h2>Register Operation</h2>
  <p>
    Fill in the information according to system requirements.
    The Patient ID, Doctor ID, and Operation Type ID must be registered in the system.
  </p>

  <!-- Display success or error messages -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

  <form>
    <div class="form-field">
      <label for="patientId">Patient:</label>
      <select id="patientId" #patientIdRef required>
        <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.fullName }}</option>
      </select>
    </div>

    <div class="form-field">
      <label for="operationTypeId">Operation Type ID:</label>
      <select id="operationTypeId" #operationTypeIdRef required>
        <option *ngFor="let operationType of operationTypes" [value]="operationType.id">{{ operationType.name }}</option>
      </select>
    </div>

    <div class="form-field">
      <label for="deadlineDate">Deadline Date:</label>
      <input type="datetime-local" id="deadlineDate" #deadlineDateRef required />
    </div>

    <div class="form-field">
      <label for="priorityState">Priority State:</label>
      <select id="priorityState" #priorityStateRef required>
        <option value="Urgent">Urgent</option>
        <option value="Elective">Elective</option>
        <option value="Emergency">Emergency</option>
      </select>
    </div>

    <button
      class="operationBtn"
      type="button"
      (click)="registerOperation(
        patientIdRef.value,
        operationTypeIdRef.value,
        deadlineDateRef.value,
        priorityStateRef.value
      )"
    >
      Register Operation
    </button>
  </form>

  <button class="backBtn" (click)="showSection('')">Back to Main Menu</button>
</section>

<!-- Operation Update Section -->
<section [style.display]="selectedSection === 'updateOperation' ? 'block' : 'none'">
  <h2>Update Operation</h2>
  <p>Here you can update your existing operation(s).</p>

  <!-- Display success or error messages -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

  <!-- Table for Operations -->
  <table class="table-display">

    <tr>
      <th>Patient Name</th>
      <th>Doctor ID</th>
      <th>Operation Type</th>
      <th>Deadline Date</th>
      <th>Priority State</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let operation of operationListToBeDisplayed">
      <td>{{ operation.patientName }}</td>
      <td>{{ operation.doctorId }}</td>
      <td>{{ operation.operationTypeName }}</td>
      <td>{{ operation.deadlineDate | date: 'yyyy-MM-dd HH:mm' }}</td>
      <td>{{ operation.priorityState }}</td>
      <td>
        <button class="edtButton"(click)="selectOperationForUpdate(operation)">Edit</button>
      </td>
    </tr>
  </table>

  <!-- Update Form -->
<div *ngIf="selectedOperation">
  <h3>Update Operation ID: {{ selectedOperation.id }}</h3>
  <form>
    <div class="form-field">
      <label for="patientId">Patient:</label>
      <select id="patientId" [(ngModel)]="selectedOperation.patientId" name="patientId" required>
        <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.fullName }}</option>
      </select>
    </div>

    <div class="form-field">
      <label for="operationTypeId">Operation Type:</label>
      <select id="operationTypeId" [(ngModel)]="selectedOperation.operationTypeId" name="operationTypeId" required>
        <option *ngFor="let operationType of operationTypes" [value]="operationType.id">{{ operationType.name }}</option>
      </select>
    </div>

    <div class="form-field">
      <label for="updateDeadlineDate">Deadline Date:</label>
      <input
        type="datetime-local"
        id="updateDeadlineDate"
        [(ngModel)]="selectedOperation.deadlineDate"
        name="deadlineDate"
        required
      />
    </div>

    <div class="form-field">
      <label for="updatePriorityState">Priority State:</label>
      <select [(ngModel)]="selectedOperation.priorityState" id="updatePriorityState" name="priorityState" required>
        <option value="Urgent">Urgent</option>
        <option value="Elective">Elective</option>
        <option value="Emergency">Emergency</option>
      </select>
    </div>

    <button type="button" (click)="submitUpdate()">Update</button>
    <button type="button" (click)="cancelUpdate()">Cancel</button>
  </form>
</div>

  <Br>
  <button (click)="showSection('')">Back to Main Menu</button>
</section>

<!-- Operation Remove Section -->
<section [style.display]="selectedSection === 'removeOperation' ? 'block' : 'none'">
  <h2>Remove Operation</h2>
  <p>Here you can remove your existing operation(s).</p>

  <!-- Table for Operations -->
  <table class="table-display">
    <tr>
      <th>Patient Name</th>
      <th>Doctor ID</th>
      <th>Operation Type</th>
      <th>Deadline Date</th>
      <th>Priority State</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let operation of operationListToBeDisplayed; let i = index">
      <td>{{operation.patientName}}</td>
      <td>{{operation.doctorId}}</td>
      <td>{{operation.operationTypeName}}</td>
      <td>{{operation.deadlineDate}}</td>
      <td>{{operation.priorityState}}</td>
      <td>
        <button class="table-button" (click)="submitRemoval(operation.id)">Remove</button>
      </td>
    </tr>
 </table>


  <Br>
  <button (click)="showSection('')">Back to Main Menu</button>
</section>

<!-- Operation List/Search Section -->
<section [style.display]="selectedSection === 'listOperation' ? 'block' : 'none'">
  <h2>List/Search Operation</h2>
  <p>Here you can list/search your operation(s) by the desired parameter.</p>
  <form>
    <input type="text" placeholder="Search Operations" #filter (input)="filterResults(filter.value)" />
    <button class="operationBtn" type="button" (click)="filterResults(filter.value)">Search</button>
  </form>
  <!-- Table for Operations -->
  <table class="table-display">
    <tr>
      <th>Patient Name</th>
      <th>Doctor ID</th>
      <th>Operation Type</th>
      <th>Deadline Date</th>
      <th>Priority State</th>
    </tr>

    <!--DISPLAY IN THE FILTERED LIST-->
    <tr *ngFor="let operation of operationListToBeDisplayed; let i = index">
      <td>{{operation.patientName}}</td>
      <td>{{operation.doctorId}}</td>
      <td>{{operation.operationTypeName}}</td>
      <td>{{operation.deadlineDate}}</td>
      <td>{{operation.priorityState}}</td>
    </tr>

  </table>

  <Br>
  <button (click)="showSection('')">Back to Main Menu</button>
</section>

</div>

<p>Current Section: {{ selectedSection }}</p>
