<div class="patient-container">
  <section class="patient-section" [style.display]="selectedSection ? 'none' : 'block'">
    <div class="header-container">
      <h2>Welcome, {{ patient.firstName }} {{ patient.lastName }}.</h2>

      <button class="logout-button" (click)="logout()">
        <span class="material-icons">logout</span>
      </button>
    </div>

    <button class="main-menu-btn" (click)="showSection('updateProfile')">Update Profile</button>
    <button class="main-menu-btn" (click)="showSection('checkInformation')">Check Information</button>
    <button class="main-menu-delete-btn" (click)="showSection('deactivateAcc')">Deactivate Account</button>
    <button class="main-menu-delete-btn" (click)="showSection('eliminateData')">Delete Account</button>

  </section>

  <!-- Update Profile Section -->
  <section [style.display]="selectedSection === 'updateProfile' ? 'block' : 'none'">
    <h2>Update Profile</h2>
    <p>Here you can update your profile information.</p>

    <!-- Display success or error messages -->
    <div class="error-message" [style.display]="errorMessage ? 'block' : 'none'">{{ errorMessage }}</div>
    <div class="success-message" [style.display]="successMessage ? 'block' : 'none'">{{ successMessage }}</div>

    <form>
      <div class="form-field">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="patient.firstName" required />
      </div>

      <div class="form-field">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="patient.lastName" required />
      </div>

      <div class="form-field">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" [(ngModel)]="patient.fullName" required />
      </div>

      <div class="form-field">
        <label for="sex">Sex:</label>
        <input type="text" id="sex" name="sex" [(ngModel)]="patient.sex" required />
      </div>

      <div class="form-field">
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" [(ngModel)]="patient.email" required />
      </div>

      <div class="form-field">
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" [(ngModel)]="patient.phone" required />
      </div>

      <div class="form-field">
        <label for="emergencyContact">Emergency Contact:</label>
        <input type="text" id="emergencyContact" name="emergencyContact" [(ngModel)]="patient.emergencyContact" required />
      </div>

      <button class="updateBtn" type="button" (click)="submitUpdate()">Update</button>
    </form>

    <button class="backBtn" (click)="showSection('')">Back to Main Menu</button>

  </section>

  <!-- Deactivate Account Section -->
  <section [style.display]="selectedSection === 'deactivateAcc' ? 'block' : 'none'">
    <h2>Deactivate Account</h2>
    <p>Here you can deactivate your account.</p>
    <p>If your account was deactivated by mistake, please contact a staff member.</p>
    <br>

    <!-- Display success or error messages -->
    <div class="error-message" [style.display]="errorMessage ? 'block' : 'none'">{{ errorMessage }}</div>
    <div class="success-message" [style.display]="successMessage ? 'block' : 'none'">{{ successMessage }}</div>

    <form>
      <button class="delete-account-btn" type="submit" (click)="deactivateAccount()">Deactivate Account</button>
    </form>

    <button class="backBtn" (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- Delete Account Section -->
  <section [style.display]="selectedSection === 'eliminateData' ? 'block' : 'none'">
    <h2>Delete Account</h2>
    <p>Here you can delete your account.</p>
    <p>Warning: This action is irreversible!</p>
    <p>If you want to delete your account, please make sure you deactivated it first.</p>
    <p></p>
    <br>

    <!-- Display success or error messages -->
    <div class="error-message" [style.display]="errorMessage ? 'block' : 'none'">{{ errorMessage }}</div>
    <div class="success-message" [style.display]="successMessage ? 'block' : 'none'">{{ successMessage }}</div>

    <form>
      <button class="delete-account-btn" type="submit" (click)="deleteAccount()" >Delete Account</button>
    </form>

    <button class="backBtn" (click)="showSection('')">Back to Main Menu</button>
  </section>

  <!-- Check Information Section -->
  <section class="checkInformation" [style.display]="selectedSection === 'checkInformation' ? 'block' : 'none'">
    <h2>Check Information</h2>
    <p>Here you can check your information.</p>

    <div class="info-container">
      <div class="info-field">
        <label>First Name: </label>
        <span>{{ patient.firstName }}</span>
      </div>

      <div class="info-field">
        <label>Last Name: </label>
        <span>{{ patient.lastName }}</span>
      </div>

      <div class="info-field">
        <label>Full Name: </label>
        <span>{{ patient.fullName }}</span>
      </div>

      <div class="info-field">
        <label>Sex: </label>
        <span>{{ patient.sex }}</span>
      </div>

      <div class="info-field">
        <label>Email: </label>
        <span>{{ patient.email }}</span>
      </div>

      <div class="info-field">
        <label>Phone: </label>
        <span>{{ patient.phone }}</span>
      </div>

      <div class="info-field">
        <label>Emergency Contact: </label>
        <span>{{ patient.emergencyContact }}</span>
      </div>

      <br>

      <div class="buttons-container">
      <!-- Button that first confirms user wants to download -->
      <button class="downloadbtn" (click)="confirmDataDownload()">
        Download Personal Data
      </button>

      <button class="userdatabtn" (click)="showSection('UserDataUsage')">
        User Data Usage
      </button>

    </div>
  </div>

  <!-- Simple notification area -->
  <div *ngIf="notificationMessage" class="notification">
    {{ notificationMessage }}
  </div>

    <button class="backBtn" (click)="showSection('')">Back to Main Menu</button>
  </section>


  <section [style.display]="selectedSection === 'UserDataUsage' ? 'block' : 'none'">

    <h2>User Data Usage</h2>
    <p>
      We value your privacy and are commited to providing clear information about how your personal data is handled
      in compliance with the General Data Protection Regulation (GDPR). Below, we explain what data is processed,
      how it is processed, your rights under the GDPR and how long we will keep your data.
    </p>

    <h2>What data is processed?</h2>
    <p>We process the following data:</p>
    <ul>
      <li>First Name</li>
      <li>Last Name</li>
      <li>Full Name</li>
      <li>Birth Date</li>
      <li>Sex</li>
      <li>Email</li>
      <li>Phone Number</li>
      <li>Emergency Contact</li>
      <li>Medical Record (allergies and medical conditions)</li>
      <li>Medical History</li>
    </ul>

    <h2>How is the data processed?</h2>
    <p>We process your data for the following purposes:</p>
    <ul>
      <li>Providing medical care and treatment</li>
      <li>Administrative tasks, such as scheduling appointments</li>
      <li>Providing you with access to your own data</li>
      <li>Compliance with legal and regulatory requirements</li>
    </ul>

    <p>
      All data processing activities are carried out in accordance with the General Data Protection Regulation (GDPR),
      ensuring that your data is processed securely and confidentially while respecting your rights.
    </p>

    <h2>What are your rights under the GDPR</h2>
    <p>
      Under the GDPR, you have the following rights regarding your personal data:
    </p>
    <ul>
      <li>Right to access (Article 15): You can request a copy of your personal data and supplementary information.</li>
      <li>Right to rectification (Article 16): You can ask us to correct inaccurate or incomplete data.</li>
      <li>Right to erasure (Article 17): You can request the deletion of your data, subject to legal requirements.</li>
      <li>Right to restriction of processing (Article 18): You can limit how your data is used in certain circumstances.</li>
      <li>Right to data portability (Article 20): You can request your data in a structured, machine-readable format to transfer to another controller.</li>
    </ul>

    <p>You can request a copy, an update and the deletion of your personal data in your user page.</p>
    <p>If you have any question on how to exercise your rights, please contact our staff team. We will respond to your request promptly and in compliance with GDPR timelines.</p>

    <h2>How long will we keep your data?</h2>
    <p>
      While you are a registered user, we will keep your data for as long as necessary to provide you with medical care and treatment,
      as well as to comply with legal and regulatory requirements, or for 5 years after the last patient interaction. After this period, your data will be securely deleted.
      If you deactivate your account, your data will be kept for a period of 30 days. After this period, your data will be securely deleted.
    </p>

    <br>

    <p>
      If you have any questions or concerns about how your data is processed, please contact our staff team.
      We are here to help and ensure that your data is handled securely and confidentially.
    </p>

    <br>
    <button class="backBtn" (click)="showSection('')">Back to Main Menu</button>
  </section>
</div>

