@page
@model sem5pi_24_25_g051.Pages.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<h2>@ViewData["Title"]</h2>

<div>
    <form method="post">
        <p>Are you sure you want to log out?</p>
        <button type="submit">Log out</button>
    </form>
</div>
